$logo: 'Alegreya SC', serif;
$main: 'Roboto', sans-serif;
$acc: 'Roboto Slab', serif;

$thin: 100;
$reg: 400;
$med: 500;
$bold: 700;
$heavy: 900;

$sbord: 12.5px;
$mbord: calc(#{$sbord}*2);
$lbord: calc(#{$mbord}*2);

$back: #B8B8B8;
$darkest: #023000;
$darker: #034600;
$dark: #034000;
$semid:#045D00;
$semil: #008000;
$light: #00B700;
$lighter: #C2DBC2;
$lightest: #DAF9DA;

$shlight: 0px 5px 0px var($semil);
$shwhite: 0px 5px 0px #D5D5D5;