@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@900&family=Roboto+Slab:wght@400;700&Work+Sans:wght@800&family=Roboto:wght@100;400;500&display=swap');

:root{
/* Font families*/
    --logo: 'Alegreya SC', serif;
    --nav: 'Work Sans', sans-serif;
    --main: 'Roboto', sans-serif;
    --acc: 'Roboto Slab', serif;
/* Font  wieghts*/
    --thin: 100;
    --reg: 400;
    --med: 500
    --bold: 700;
    --heavy: 900;
/* Font sizes*/
    --xs: 10px;
    --s: 14px;
    --m: 18px;
    --l: 25px;
    --xl: 35px;
    --xxl: 40px;
/* Spacing */
    --head: 55px;
/* Border radius */
    --sbord: 12.5px;
    --mbord: calc(var(--sbord)*2);
    --lbord: calc(var(--mbord)*2);
/* Colors */
    --back: #B8B8B8;
    --cover: rgba(184, 184, 184, 0.70);
    --darkest: #023000;
    --darker: #034600;
    --dark: #034000;
    --semid:#045D00;
    --semil: #008000;
    --light: #00B700;
    --lighter: #C2DBC2;
    --lighest: #DAF9DA;
    /* Shadows */
    --shlight: 0px var(--xs) 0px var(--semil);
    --shwhite: 0px 5px 0px #D5D5D5;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header{
    position: fixed;
    height: var(--head);
    width: 100%;
    display: flex;
    z-index: 1;
}
/* ecogreen logo */
.logo{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: calc(var(--xl)*5.25) calc(var(--xs)*2);
    align-self: center;
    height: 100%;
    padding-left: 5px;

    color: var(--semil);
    background-color: var(--lighter);
    font-family: var(--logo);
}
.logo__title{
    font-size: var(--xl);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: flex-end;
}
.logo__subtitle{
    grid-column: 1 / 2;
    grid-row:  1 / 2;
    align-self: flex-end;
    justify-self: flex-start;
    padding-left: var(--xs);
}
.logo__sidetitle{
    grid-column: 2 / 3;
    grid-row:  1 / 2;
    align-self: flex-end;
    background-color: var(--lighter);
    padding-right: 25vw;
    padding-top: calc(var(--head) * 0.75);
}
.logo__subtitle, .logo__sidetitle{
    font-size: var(--xs);
}
.logo__icon{
    background-color: var(--lighter);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: flex-start;
    padding-right: 25vw;
}

/* navigation */

.navbar{
    display: flex;
    width: 100%;
}
.navbar__square{
    background-color: var(--dark);
    width: 100%;
    display:flex;
}
.navbar__triangle{
    display: inline-block;
    border-top: var(--head) solid transparent;
    border-right: var(--head) solid var(--dark); 
}

.navbar__square > h5{
    display: none;
}

.navbar__menu{
    height: var(--head);
    width: var(--head);
    margin: 0 auto;
    align-self: center;
    padding: var(--xs) 0;
}


/* MAIN CONTENT */
main{
    margin-top: var(--head);
}

/* home page */
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--cover); 
    height: 100vh;
    position: relative;
}
.home:before{
    content: '';
    background: url(images/Crane1.png) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.home__title{
    font-size: var(--xxl);
    font-family: var(--acc);
    font-weight: var(--bold);
    padding-bottom: var(--xxl);
}
.home__btn{
    background: linear-gradient(360deg, var(--light), var(--semil), var(--semid));
    color: white;
    padding: var(--s) var(--l);
    font-family: var(--main);
    font-size: var(--s);
    font-weight: var(--med);
    box-shadow: var(--shlight);
    border-radius: var(--sbord);
    border: 0;
}

.home__btn:hover{
    background: linear-gradient(360deg, var(--lighter), var(--light), var(--semil));
}

/* services page */
.services{
    background-color: white;
}
.services--inner{
    margin-left: 40vw;
    display: inline-block;
}
.services__title{
    font-size: var(--xl);
    font-family: var(--acc);
    font-weight: var(--bold);
}
.services__underline{
    border: var(--s) solid var(--light);
}


/* FOOTER */

footer{
    height: var(--xl);
    margin-top: auto;
    background-color: var(--dark);
    padding: var(--xs);
}

.footer__info{
    font-family: var(--main);
    font-weight: var(--thin);
    color: var(--back);
    font-size: var(--xs);
    text-align: center;
}


/* RESPONSIVENESS */

@media (min-width: 768px) {
    .navbar__square {
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: var(--nav);
    font-size: var(--s);
    padding: 0 var(--xs);
    }
    .navbar__square > h5{
        display: block;
        align-self: center;
    }
 .navbar__menu {
     display: none;
    }
    .home__title{
        font-size: var(--head);
    }
}

@media (min-width: 1100px) {
    :root{
        --xs: 12.5px;
        --s: 20px;
        --m: 25px;
        --l: 32px;
        --xl: 50px;
        --xxl: 60px;
    
        --head: 70px;
    }
    .home__title{
        font-size: var(--xxl);
        padding-left: var(--s)
    }
    .home{
        background: linear-gradient(270deg,rgba(255, 255, 255, 0.25), rgba(175, 175, 175, 0.75), rgba(184, 184, 184, 1)), url(images/Crane1.png) no-repeat right ;
    }
    .home:before{
        display: none;
    }
    .home__title, .home__btn {
        margin-right: 50vw;
    }
}