$back: #dcdcdd;
$darkest: #023000;
$darker: #034600;
$dark: #034000;
$semid:#045D00;
$semil: #008000;
$light: #00B700;
$lighter: #C2DBC2;
$lightest: #DAF9DA;

// Shadows
$shlight: 0px 5px 0px var($semil);
$shwhite: 0px 5px 0px #D5D5D5;