@use '../abstracts/' as *;

.card {
    background-color: $back;
    width: 100%;
    margin: $s 0;
    color: white;
    padding: $s;
    position: relative;
    background-size: cover;


      &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: black;
        z-index: 0;
        top: 0;
        left: 0;
        opacity: .6; 
      }
    

    &__img {
      width: 100%;
      max-width: 400px;
      display: block;
      height: 100%;
      object-fit: cover;
    }

    &__title{
      text-align: center;
        font-size: $l;
        font-family: $acc;
        font-weight: $bold;
        text-transform: uppercase;
        color: white;
    }
    &__text{
      position: relative;
      display: block;
      padding-top: $xs;
      padding-bottom: $xs;
        font-size: $m;
        font-family: $main;
        font-weight: $reg;
    }
  div.card__text{
    text-align:justify;
    margin: auto 0 auto 0;
    padding-inline: $m;
  }
}


@media (min-width: 768px) {


    .card{
      width: 30%;
      border-radius: $lbord;

      &::before {
        border-radius: $lbord;
      }
    }
}