@use '../abstracts/' as *;

.wrapper{
    border-radius: $sbord;
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    height: 75%;
    background: $back;
    padding: $xl;
    overflow-x: scroll;
    margin-bottom: $head;
}

.item{
    animation: animate 5s alternate-reverse linear infinite;
    margin: auto 0 auto 0;
    padding: 0 $l 0 $m;
    animation-play-state: running;
    height: 374px;
    img {
        object-fit: cover;
        height: 100%;
        display: block;
    }
}

.wrapper:hover {
    overflow-x: scroll;

.item{
    animation-play-state:paused;
}

}

@keyframes animate{
    0% {
        transform: translate3d(0, 0, 0)
    }
    100%{
        transform: translate3d(-100vw, 0, 0)
    }
}

@media (min-width: 1100px) {
    .item{
        animation-play-state: running;
    }
    .wrapper{
        overflow-x:hidden;
    }
}
