@use '../abstracts/' as *;

.home {
	min-height: 100vh;
	background-size: cover;
	color: white;
	display: flex;
	isolation: isolate;
	position: relative;
	background-image: url("../../images/bg-home1.jpg");

	&__main {
		width: 100%;
		padding: 2em;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__main::after {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		background: grey;
		// background: linear-gradient(-45deg, $back, lightgrey,grey);
		mix-blend-mode: multiply;
	}

	&__title {
		font-weight: $bold;
		font-size: calc($xxl * 1.05);
		font-family: $main;
		letter-spacing: 1px;
		text-align: center;
		margin-bottom: $l;
	}

	&__btn {
		background:$semil;
		color: white;
		padding: $m $xl;
		font-family: $main;
		font-size: $s;
		font-weight: $med;
		box-shadow: $shlight;
		border-radius: $sbord;
		border: 0;
	}

	&__btn:hover {
		background: $semid;
	}
	a {
		text-align: center;
	}
}

.intro {
	display: flex;
	flex-direction: column;

	&__title {
		font-size: $xl;
		font-family: $acc;
		font-weight: $bold;
		text-transform: uppercase;
		color: $darkest;
		margin-top: $m;
		align-self: center;
		text-align: center;
		letter-spacing: calc(#{$xs} * 0.25);
	}
	&__underline {
		align-self: center;
		width: 10em;
		border: 7px solid $light;
		margin: $s 0;
	}
}

@media (min-width: 1100px) {
	.home {


		&__title {
			// width: 40%;
			// margin-bottom: $xl;
		}

		&__btn {
			// width: 30%;
			// margin-left: $xxl * 1.15;
		}
	}
}
